# Default configuration file for STIFF 2.3.0
# EB 2014-02-06
#
OUTFILE_NAME           DES2246-4457.ptif       # Name of the output file
IMAGE_TYPE             AUTO            # Output image format: AUTO, TIFF,
                                       # or TIFF-PYRAMID
BITS_PER_CHANNEL       -32             # 8, 16 for int, -32 for float
BIGTIFF_TYPE           AUTO            # Use BigTIFF? NEVER,ALWAYS or AUTO
COMPRESSION_TYPE       NONE            # NONE,LZW,JPEG,DEFLATE or ADOBE-DEFLATE
COMPRESSION_QUALITY    90              # JPEG compression quality (%)
TILE_SIZE              256             # TIFF tile-size
PYRAMID_MINSIZE        256             # Minimum plane size in TIFF pyramid
BINNING                1               # Binning factor for the data
FLIP_TYPE              NONE            # NONE, or flip about X, Y or XY
FITS_UNSIGNED          N               # Treat FITS integers as unsigned
 
#------------------------------- Channel tagging ----------------------------

CHANNELTAG_TYPE        MATCH           # FITS_KEYWORD, MANUAL, or MATCH
CHANNELTAG_KEY         BAND            # FITS keyword with channel tag
CHANNEL_TAGS           "g","r","i","z","Y","det","u" # List of tags for MANUAL or MATCH modes

 
#------------------------------- Dynamic range ------------------------------
 
SKY_TYPE               AUTO            # Sky-level: "AUTO" or "MANUAL"
SKY_LEVEL              0.0             # Background level for each image
MIN_TYPE               GREYLEVEL       # Min-level: "QUANTILE", "MANUAL"
                                       # or "GREYLEVEL"
MIN_LEVEL              0.001           # Minimum value, quantile or grey level
MAX_TYPE               MANUAL          # Max-level: "QUANTILE" or "MANUAL"
				       # FM: Please fix MAX_LEVEL for u-band -- set to 99 for now
		       		       # MAX_LEVEL  for g,r,i,z,Y,det,u
MAX_LEVEL              500,1200,2100,2400,1800,100,99 # Maximum value or quantile 
SATUR_LEVEL            10000000.0         # FITS data saturation level(s)
GAMMA_TYPE             POWER-LAW       # Gamma correction: POWER-LAW, SRGB or
                                       # REC.709
GAMMA                  2.2             # Display gamma
GAMMA_FAC              1.0             # Luminance gamma correction factor
COLOUR_SAT             1.0             # Colour saturation (0.0 = B&W)
NEGATIVE               N               # Make negative of the image
 
#------------------------------ Memory management -----------------------------

VMEM_DIR               .               # Directory path for swap files
VMEM_MAX               2000000         # Maximum amount of virtual memory (MB)
MEM_MAX                10000           # Maximum amount of usable RAM (MB)

#------------------------------ Miscellaneous ---------------------------------
 
VERBOSE_TYPE           NORMAL          # QUIET, NORMAL or FULL
COPY_HEADER            Y               # Copy FITS header to description field?
DESCRIPTION            "DESDM Ptif tile"    # Image content description
COPYRIGHT              "Dark Energy Survey/NCSA" # Copyright notice
WRITE_XML              N               # Write XML file (Y/N)?
XML_NAME               stiff.xml       # Filename for XML output
XSL_URL                stiff.xsl
                                       # Filename for XSL style-sheet
NTHREADS               1               # Number of simultaneous threads for
                                       # the SMP version of STIFF
                                       # 0 = automatic
